<%- include("../partials/dashboard_header") %> 
 
          <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <h1 class="h2">Add New Comic</h1>
            </div>

            <form action="/admin/dashboard/comics/add-comic" method="post" enctype="multipart/form-data">

                <img class="mb-3" id="preview" src="" alt="" hidden>

                <div class="mb-3 row">
                 <div class="col">
                    <label for="title" class="form-label">Title</label>
                    <input class="form-control" type="text" name="title" id="title">
                 </div>

                  <div class="col">
                    <label for="thumbnail" class="form-label">Thumbnail</label>
                    <input type="file" name="thumbnail" id="thumbnail" class="form-control">
                  </div>
                </div>

                <div class="mb-3 row">
                    <div class="col">
                        <label for="author" class="form-label">Author</label>
                        <input type="text" class="form-control" name="author" id="author">
                    </div>
                    <div class="col">
                        <label for="status" class="form-label">Status</label>
                        <select class="form-select" name="status" id="status">
                            <option value="Ongoing">Ongoing</option>
                            <option value="Complete">Complete</option>
                            <option value="Hiatus">Hiatus</option>
                            <option value="Dropped">Dropped</option>
                            <option value="Coming Soon">Coming Soon</option>
                        </select>
                    </div>
                </div>

                <div class="mb-3 row">
                    <div class="col">
                        <label for="genres" class="form-label">Genres</label>
                        <input type="text" class="form-control" id="genres" name="genres">
                    </div>
                    <div class="col">
                        <label for="type" class="form-label">Type</label>
                        <select class="form-select" name="type" id="type">
                            <option value="Manga">Manga</option>
                            <option value="Manhwa">Manhwa</option>
                            <option value="Manhua">Manhua</option>
                        </select>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="synopsis" class="form-label">Synopsis</label>
                    <textarea class="form-control" name="synopsis" id="synopsis" cols="30" rows="10"></textarea>
                </div>

                <button type="submit" class="btn btn-primary mb-3"><i class="fa-solid fa-plus"></i> Add</button>
  
              </form>
          </main>

<%- include("../partials/dashboard_footer") %>  
