<%- include("../partials/login_header") %>

<main class="form-signin w-100 m-auto">
    <form action="/admin/login" method="post">
      <img class="mb-4" src="/images/logo_white.png" alt="" width="150" height="50">
      <h1 class="h3 mb-3 fw-normal">Admin Sign In</h1>
  
      <div class="form-floating">
        <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
        <label for="email">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        <label for="password">Password</label>
      </div>
  
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
      <p id="date" class="mt-5 mb-3 text-muted"></p>
    </form>
  </main>


<%- include("../partials/login_footer") %>