<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Fifth navbar example">
        <div class="container-fluid container-xl">
          <a class="navbar-brand" href="#">
            <img src="/images/logo.png" alt="" width="150" height="50">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse" id="navbarsExample05">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link <%= pageName === "home" ? "active" : null %>" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link <%= pageName === "comics" ? "active" : null %>" href="/comics">Comics</a>
              </li>
            </ul>

           <div class="row">
            <div class="col-lg-8">
   
                <div class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
                <button id="searchBar" class="btn btn-outline-success" type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
        
            </div>

            

            <% if (user) { %>
              <div class="col-lg-4 d-flex dropdown">
              
          
                <div class="mb-3" data-bs-toggle="dropdown">
                  <div class="rounded-circle border d-flex justify-content-center align-items-center account" style="width:30px;height:30px" alt="avatar">
                    <i class="fa-regular fa-user"></i>
                  </div>
              </div>
     

              <ul class="dropdown-menu">
                <% if (user.is_admin) { %>
                  <li><a class="dropdown-item" href="/admin/dashboard"><i class="fa-solid fa-chart-simple"></i> Dashboard</a></li>
                <% } %>
                <li><a class="dropdown-item" href="/comics/bookmark"><i class="fa-solid fa-bookmark"></i> Bookmark</a></li>
                <li><a class="dropdown-item" href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Logout</a></li>
              </ul>
            </div>
              <% } else { %>
                <div class="col-lg-4 d-flex">
                  <a href="/login" class="login-button"><i class="fa-solid fa-right-to-bracket"></i> Login</a>
                </div>
            <% } %>

        
             
           
           
           
           </div>
          </div>
        </div>
      </nav>
</header>