<%- include("partials/header") %>
<%- include("partials/navbar") %>

<main class="container-xl not-found">
    <i class="fa-regular fa-face-frown fa-10x mb-3"></i>
    <h1>404</h1>
    <h2>Page Not Found</h2>
</main>

<%- include("partials/footer") %>